#headerTitle {
  color: white;
  margin: 10px;
}

.aboutText {
  color: black;
  background: rgba(255, 255, 255, .6);
  border: 1px solid #333;
  border-radius: 10px;
  margin: 2%;
  padding: 10px;
  text-align: justify;
  width: 50%;
}

.btn-default {
  background: #241703 !important;
  color: white !important;
  font-size: 1.4em !important;
  margin:0 15px 40px 15px !important;
}

.btn-default:hover {
  background: white !important;
  color: #555 !important;
}

.container {
  background: #241703;
  width: 100% !important;
}

.content {
  clear: both;
  height: 100% !important;
  width: 100%;
}

.fontHanaleiFill {
  font-family: "Hanalei Fill", Arial;
}

.fontJosefinSans {
  font-family: "Josefin Sans", Arial;
  font-size: 1.4em !important;
}

.footer {
  color: white;
  font-size: 1.1em;
  text-align: center !important;
  width: 100%;
}

.menu {
  border: 1px solid red;
  float: right;
  padding: 15px 0 5px 0;
}

.menu a {
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  transition: font-size 1.2s;
}

.menu a:hover {
  font-size: 1.7em;
  color: #777;
}

.menu li {
  display: inline;
  padding: 0 15px;
}

.pageAboutMe {
  background: url("https://upload.wikimedia.org/wikipedia/commons/9/95/Ponte_D._Lu%C3%ADs_I_e_metro.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 855px;
  padding: 50px 0;
}

.pageHome {
  background: url("http://www.hotel-r.net/im/hotel/lv/office-24.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 855px;
  padding: 50px 0;
}

.pagePortfolio {
  background: url("http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 855px;
  padding: 50px 0;
}

.pageContact {
  background: url("http://honline.whizzpeople.netdna-cdn.com/wp-content/uploads/2013/08/contact1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 855px;
  padding: 50px 0;
}

h1 {
  border: 1px solid red;
  float: left;
  width: 45%;
}

h2.fontHanaleiFill {
  padding-top: 150px;
  color: #241703;
  font-size: 4em;
}

h3 {
  color: #241703;
  padding: 0px 0 15px 0;
}

hr {
  border-color: #241703 !important;
  border: none;
  margin: 5%;
  padding-top: 40px;
}